@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:var(--nunito) ;
	::-webkit-scrollbar {
		width: 10px;
		
	  }
	  
	  /* Track */
	  ::-webkit-scrollbar-track {
		background: #f1f1f1; 
	  }
	   
	  /* Handle */
	  ::-webkit-scrollbar-thumb {
		background: #888; 
		border-radius:10px;
	  }
	  
	  /* Handle on hover */
	  ::-webkit-scrollbar-thumb:hover {
		background: #555; 
	  }
}

body {
	/* background: linear-gradient(90deg, #C7C5F4, #776BCC);*/
    background-image: url(images/ustp-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

:root{
    --nunito:'Nunito', sans-serif;
    --A4:#89ABE3FF;
    --B8:#FCF6F5FF;
    --C5C:#7CB9E8;
    --AC:#00308F;
    --E9:#6CB4EE;
    --B9:#002D62;
    --B5:#0039a6;
    --9D:#13274F;


}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, var(--A4), var(--B8));		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px var(--C5C);
}

.screen__content img {
    width: 150px;
    height: 150px;
    margin-top: 51px;
    margin-left: 35px;
}
.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: var(--AC);	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, var(--A4),var(--E9));
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: var(--B9);	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	/* padding-top: 156px; */
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 0 30px;
	color: var(--B5);
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: var(--E9);
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid var(--E9);
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 45%;
	color: var(--9D);
	box-shadow: 0px 2px 2px var(--C5C);
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #33465c;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: var(--B5);
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
    font-size: 10px;
}
.social-login a{
    text-decoration: none;
    color: var(--B8);
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px var(--B5);
}

.social-login__icon:hover {
	transform: scale(1.5);	
}